*{
    margin: 0;
    padding: 0;
}

body{
    color: #fff;
    background: linear-gradient(180deg, #010101 -15.71%, #1A0E01 99.57%);    font-family: Poppins; 
    font-family: Poppins;
}

.header h1{
    display: inline;
    text-align: left;
    position: relative;
    top: -30px;
    margin-top: 25px;
}
.header{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 770px;
}

.header span .link{
    display: inline-flex;
    gap: 88px;
    margin-right: 36px;
}
a{
    text-decoration: none;
    color: #fff;
}

.header span .button{
    border: none;
    border-radius: 6px;
    background: #FA9021;
    color: #fff;
    padding: 10px 28px;
}
.headPages{
    text-align: center;
    margin-bottom: 74px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.headPages div{
    justify-content: center;
    display: flex;
    margin-top: 20px;
    /* border: 1px solid red; */
}
.headPages p{
    display: inline;
}
.headPages .orange{
    color: #E47500; 
}

.content1{
    display: flex;
    padding: 0px 50px 70px 100px;
    gap: 70px;
}

.block11Link{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.block11Link a{
    padding: 9px 30px 4px 30px;
    background: #2351F5;
}

.block11Link p{
    padding: 9px;
}

.block11 h1{
    font-size: 30px; 
    font-weight: 600;   
}
.block11 .block11Text , .block {
    width: 529.683px; ; 
    
}

.block11 .block11Text {
    line-height: 207.8%;
    margin: 32px 0 90px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.line{
    width: 587px; 
    border: 1px solid #A5A5A5;
    margin: 90px 0;
}

.block2 .block21{
    display: flex;
    gap: 30px;
}

.pLastChild{
    font-size: 23px;
    font-weight: 600; 
}

.block2{
    display: flex;
    flex-direction: column;
    gap: 60px;
}


.content5{
    margin-bottom: 120px;
}

.content5Text{
    margin-left: 12%;
    width: 550px;
    margin-bottom: 60px;
    /* border: 1px solid red; */
}

.content5 .block{
    margin: 0 12%;
    background: #2c1a1a;
    border-radius: 15px;
    /* padding: 20px; */
    display: flex;
    flex-direction: row;
}

.content5 .blockText{
    margin-bottom: 30px;
    margin-left: 34px;

}

.blockText p{
    width: 500px;
}

.footer{
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    gap: 140px;
}

.footer .textLogo{
    width: 350px;
}

.contact{
    width: 28px  0px;
}

li{
    list-style-type: none;
}

.finish p{
    border-top: 1px solid #bfbfbf;
    padding: 20px 0 10px 0;
    text-align: center;
}

.pink a{
    background: #FF8484;
}

.aorange a{
    background: #FF7C32;
}

.green a{
    background: #23A54F;
}

.purple a{
    background: #9921C3;
}